USE [QUAN_LI_QUAN_CAFE_HBK]
GO
/****** Object:  Table [dbo].[BAN]    Script Date: 6/7/2020 12:17:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAN](
	[SOBAN] [int] IDENTITY(1,1) NOT NULL,
	[SOCHO] [int] NOT NULL,
	[TRANGTHAI] [int] NOT NULL,
	[TRANGTHAIXOA] [bit] NOT NULL,
	[TENBAN] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__BAN__B4387CB74B86EEF3] PRIMARY KEY CLUSTERED 
(
	[SOBAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHI_TIET_DON_DAT_HANG]    Script Date: 6/7/2020 12:17:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_DON_DAT_HANG](
	[MADDH] [int] NOT NULL,
	[MAHH] [int] NOT NULL,
	[SL] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MADDH] ASC,
	[MAHH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHI_TIET_HOA_DON]    Script Date: 6/7/2020 12:17:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_HOA_DON](
	[MAHD] [int] NOT NULL,
	[MATU] [int] NOT NULL,
	[SL] [int] NOT NULL,
	[GIABAN] [float] NOT NULL,
 CONSTRAINT [PK__CHI_TIET__F63D17EEF33DE33A] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC,
	[MATU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHI_TIET_PHIEU_NHAP_HANG]    Script Date: 6/7/2020 12:17:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_PHIEU_NHAP_HANG](
	[MAPNH] [int] NOT NULL,
	[MAHH] [int] NOT NULL,
	[SL] [int] NOT NULL,
	[GIA] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPNH] ASC,
	[MAHH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DAT_HANG]    Script Date: 6/7/2020 12:17:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DAT_HANG](
	[MADDH] [int] NOT NULL,
	[MANCC] [int] NOT NULL,
	[NGAYGIAO] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MADDH] ASC,
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DON_DAT_HANG]    Script Date: 6/7/2020 12:17:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DON_DAT_HANG](
	[MADDH] [int] IDENTITY(1,1) NOT NULL,
	[NGAYLAP] [date] NOT NULL,
	[MANVLAP] [int] NOT NULL,
	[TRANGTHAIXOA] [bit] NOT NULL,
	[TRANGTHAIDUYET] [bit] NOT NULL,
 CONSTRAINT [PK__DON_DAT___77CD19D1AC7DCC9F] PRIMARY KEY CLUSTERED 
(
	[MADDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HANG_HOA]    Script Date: 6/7/2020 12:17:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HANG_HOA](
	[MAHH] [int] IDENTITY(1,1) NOT NULL,
	[TENHH] [nvarchar](30) NOT NULL,
	[DVT] [nvarchar](10) NOT NULL,
	[TRANGTHAIXOA] [bit] NOT NULL,
	[SLTON] [int] NOT NULL,
 CONSTRAINT [PK__HANG_HOA__603F20C25DC81F6C] PRIMARY KEY CLUSTERED 
(
	[MAHH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOA_DON]    Script Date: 6/7/2020 12:17:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOA_DON](
	[MAHD] [int] IDENTITY(1,1) NOT NULL,
	[NGAYLAP] [date] NOT NULL,
	[MANVLAP] [int] NOT NULL,
	[SOBAN] [int] NOT NULL,
	[TRANGTHAI] [int] NOT NULL,
	[TRANGTHAIXOA] [bit] NOT NULL,
 CONSTRAINT [PK__HOA_DON__603F20CE65112AB5] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAI_THUC_UONG]    Script Date: 6/7/2020 12:17:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI_THUC_UONG](
	[MALOAITU] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAITU] [nvarchar](20) NOT NULL,
	[TRANGTHAIXOA] [bit] NOT NULL,
 CONSTRAINT [PK__LOAI_THU__AFC8E58BD543489E] PRIMARY KEY CLUSTERED 
(
	[MALOAITU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHA_CUNG_CAP]    Script Date: 6/7/2020 12:17:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHA_CUNG_CAP](
	[MANCC] [int] IDENTITY(1,1) NOT NULL,
	[TENNCC] [nvarchar](100) NOT NULL,
	[DIACHI] [nvarchar](150) NOT NULL,
	[SDT] [char](11) NOT NULL,
	[TRANGTHAIXOA] [bit] NOT NULL,
 CONSTRAINT [PK__NHA_CUNG__7ABEA582A49CFC2D] PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAN_VIEN]    Script Date: 6/7/2020 12:17:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAN_VIEN](
	[MANV] [int] IDENTITY(1,1) NOT NULL,
	[TENNV] [nvarchar](100) NOT NULL,
	[DIACHI] [nvarchar](150) NOT NULL,
	[SDT] [char](11) NOT NULL,
	[TRANGTHAIXOA] [bit] NOT NULL,
	[CHUCVU] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__NHAN_VIE__603F51140EBB8389] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEU_NHAP_HANG]    Script Date: 6/7/2020 12:17:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEU_NHAP_HANG](
	[MAPNH] [int] IDENTITY(1,1) NOT NULL,
	[MANCC] [int] NOT NULL,
	[NGAYLAP] [date] NOT NULL,
	[MANVLAP] [int] NOT NULL,
	[MADDH] [int] NOT NULL,
	[TRANGTHAIXOA] [bit] NOT NULL,
 CONSTRAINT [PK__PHIEU_NH__7B35EB5581A893AF] PRIMARY KEY CLUSTERED 
(
	[MAPNH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAI_KHOAN]    Script Date: 6/7/2020 12:17:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAI_KHOAN](
	[TENDANGNHAP] [char](50) NOT NULL,
	[MATKHAU] [nvarchar](1000) NOT NULL,
	[LOAITAIKHOAN] [nvarchar](50) NOT NULL,
	[TRANGTHAIXOA] [bit] NOT NULL,
	[MANV] [int] NOT NULL,
 CONSTRAINT [PK__TAI_KHOA__6C836FE48D94F05C] PRIMARY KEY CLUSTERED 
(
	[TENDANGNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THUC_UONG]    Script Date: 6/7/2020 12:17:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THUC_UONG](
	[MATU] [int] IDENTITY(1,1) NOT NULL,
	[TENTU] [nvarchar](20) NOT NULL,
	[MALOAITU] [int] NOT NULL,
	[GIA] [float] NOT NULL,
	[TRANGTHAIXOA] [bit] NOT NULL,
 CONSTRAINT [PK__THUC_UON__60237208016B01D6] PRIMARY KEY CLUSTERED 
(
	[MATU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BAN] ADD  CONSTRAINT [DF__BAN__TRANGTHAI__5629CD9C]  DEFAULT ((0)) FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[BAN] ADD  CONSTRAINT [DF__BAN__TRANGTHAIXO__14270015]  DEFAULT ((0)) FOR [TRANGTHAIXOA]
GO
ALTER TABLE [dbo].[DON_DAT_HANG] ADD  CONSTRAINT [DF__DON_DAT_H__NGAYL__3D5E1FD2]  DEFAULT (getdate()) FOR [NGAYLAP]
GO
ALTER TABLE [dbo].[DON_DAT_HANG] ADD  CONSTRAINT [DF__DON_DAT_H__TRANG__151B244E]  DEFAULT ((0)) FOR [TRANGTHAIXOA]
GO
ALTER TABLE [dbo].[HANG_HOA] ADD  CONSTRAINT [DF__HANG_HOA__TRANGT__22751F6C]  DEFAULT ((0)) FOR [TRANGTHAIXOA]
GO
ALTER TABLE [dbo].[HOA_DON] ADD  CONSTRAINT [DF__HOA_DON__NGAYLAP__59063A47]  DEFAULT (getdate()) FOR [NGAYLAP]
GO
ALTER TABLE [dbo].[HOA_DON] ADD  CONSTRAINT [DF__HOA_DON__TRANGTH__59FA5E80]  DEFAULT ((0)) FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[HOA_DON] ADD  CONSTRAINT [DF__HOA_DON__TRANGTH__236943A5]  DEFAULT ((0)) FOR [TRANGTHAIXOA]
GO
ALTER TABLE [dbo].[LOAI_THUC_UONG] ADD  CONSTRAINT [DF__LOAI_THUC__TRANG__245D67DE]  DEFAULT ((0)) FOR [TRANGTHAIXOA]
GO
ALTER TABLE [dbo].[NHA_CUNG_CAP] ADD  CONSTRAINT [DF__NHA_CUNG___TRANG__25518C17]  DEFAULT ((0)) FOR [TRANGTHAIXOA]
GO
ALTER TABLE [dbo].[NHAN_VIEN] ADD  CONSTRAINT [DF__NHAN_VIEN__TRANG__2645B050]  DEFAULT ((0)) FOR [TRANGTHAIXOA]
GO
ALTER TABLE [dbo].[PHIEU_NHAP_HANG] ADD  CONSTRAINT [DF__PHIEU_NHA__NGAYL__48CFD27E]  DEFAULT (getdate()) FOR [NGAYLAP]
GO
ALTER TABLE [dbo].[PHIEU_NHAP_HANG] ADD  CONSTRAINT [DF__PHIEU_NHA__TRANG__2739D489]  DEFAULT ((0)) FOR [TRANGTHAIXOA]
GO
ALTER TABLE [dbo].[TAI_KHOAN] ADD  CONSTRAINT [DF__TAI_KHOAN__LOAIT__37A5467C]  DEFAULT ((0)) FOR [LOAITAIKHOAN]
GO
ALTER TABLE [dbo].[TAI_KHOAN] ADD  CONSTRAINT [DF__TAI_KHOAN__TRANG__2DE6D218]  DEFAULT ((0)) FOR [TRANGTHAIXOA]
GO
ALTER TABLE [dbo].[THUC_UONG] ADD  CONSTRAINT [DF__THUC_UONG__TRANG__29221CFB]  DEFAULT ((0)) FOR [TRANGTHAIXOA]
GO
ALTER TABLE [dbo].[CHI_TIET_DON_DAT_HANG]  WITH CHECK ADD  CONSTRAINT [FK__CHI_TIET___MADDH__4316F928] FOREIGN KEY([MADDH])
REFERENCES [dbo].[DON_DAT_HANG] ([MADDH])
GO
ALTER TABLE [dbo].[CHI_TIET_DON_DAT_HANG] CHECK CONSTRAINT [FK__CHI_TIET___MADDH__4316F928]
GO
ALTER TABLE [dbo].[CHI_TIET_DON_DAT_HANG]  WITH CHECK ADD  CONSTRAINT [FK__CHI_TIET_D__MAHH__440B1D61] FOREIGN KEY([MAHH])
REFERENCES [dbo].[HANG_HOA] ([MAHH])
GO
ALTER TABLE [dbo].[CHI_TIET_DON_DAT_HANG] CHECK CONSTRAINT [FK__CHI_TIET_D__MAHH__440B1D61]
GO
ALTER TABLE [dbo].[CHI_TIET_HOA_DON]  WITH CHECK ADD  CONSTRAINT [FK__CHI_TIET_H__MAHD__5EBF139D] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOA_DON] ([MAHD])
GO
ALTER TABLE [dbo].[CHI_TIET_HOA_DON] CHECK CONSTRAINT [FK__CHI_TIET_H__MAHD__5EBF139D]
GO
ALTER TABLE [dbo].[CHI_TIET_HOA_DON]  WITH CHECK ADD  CONSTRAINT [FK__CHI_TIET_H__MATU__5FB337D6] FOREIGN KEY([MATU])
REFERENCES [dbo].[THUC_UONG] ([MATU])
GO
ALTER TABLE [dbo].[CHI_TIET_HOA_DON] CHECK CONSTRAINT [FK__CHI_TIET_H__MATU__5FB337D6]
GO
ALTER TABLE [dbo].[CHI_TIET_PHIEU_NHAP_HANG]  WITH CHECK ADD  CONSTRAINT [FK__CHI_TIET___MAPNH__4D94879B] FOREIGN KEY([MAPNH])
REFERENCES [dbo].[PHIEU_NHAP_HANG] ([MAPNH])
GO
ALTER TABLE [dbo].[CHI_TIET_PHIEU_NHAP_HANG] CHECK CONSTRAINT [FK__CHI_TIET___MAPNH__4D94879B]
GO
ALTER TABLE [dbo].[CHI_TIET_PHIEU_NHAP_HANG]  WITH CHECK ADD  CONSTRAINT [FK__CHI_TIET_P__MAHH__4E88ABD4] FOREIGN KEY([MAHH])
REFERENCES [dbo].[HANG_HOA] ([MAHH])
GO
ALTER TABLE [dbo].[CHI_TIET_PHIEU_NHAP_HANG] CHECK CONSTRAINT [FK__CHI_TIET_P__MAHH__4E88ABD4]
GO
ALTER TABLE [dbo].[DAT_HANG]  WITH CHECK ADD  CONSTRAINT [FK__DAT_HANG__MADDH__68487DD7] FOREIGN KEY([MADDH])
REFERENCES [dbo].[DON_DAT_HANG] ([MADDH])
GO
ALTER TABLE [dbo].[DAT_HANG] CHECK CONSTRAINT [FK__DAT_HANG__MADDH__68487DD7]
GO
ALTER TABLE [dbo].[DAT_HANG]  WITH CHECK ADD  CONSTRAINT [FK__DAT_HANG__MANCC__693CA210] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHA_CUNG_CAP] ([MANCC])
GO
ALTER TABLE [dbo].[DAT_HANG] CHECK CONSTRAINT [FK__DAT_HANG__MANCC__693CA210]
GO
ALTER TABLE [dbo].[DON_DAT_HANG]  WITH CHECK ADD  CONSTRAINT [FK__DON_DAT_H__MANVL__3E52440B] FOREIGN KEY([MANVLAP])
REFERENCES [dbo].[NHAN_VIEN] ([MANV])
GO
ALTER TABLE [dbo].[DON_DAT_HANG] CHECK CONSTRAINT [FK__DON_DAT_H__MANVL__3E52440B]
GO
ALTER TABLE [dbo].[HOA_DON]  WITH CHECK ADD  CONSTRAINT [FK__HOA_DON__MANVLAP__5AEE82B9] FOREIGN KEY([MANVLAP])
REFERENCES [dbo].[NHAN_VIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOA_DON] CHECK CONSTRAINT [FK__HOA_DON__MANVLAP__5AEE82B9]
GO
ALTER TABLE [dbo].[HOA_DON]  WITH CHECK ADD  CONSTRAINT [FK__HOA_DON__SOBAN__5BE2A6F2] FOREIGN KEY([SOBAN])
REFERENCES [dbo].[BAN] ([SOBAN])
GO
ALTER TABLE [dbo].[HOA_DON] CHECK CONSTRAINT [FK__HOA_DON__SOBAN__5BE2A6F2]
GO
ALTER TABLE [dbo].[PHIEU_NHAP_HANG]  WITH CHECK ADD  CONSTRAINT [FK__PHIEU_NHA__MANCC__49C3F6B7] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHA_CUNG_CAP] ([MANCC])
GO
ALTER TABLE [dbo].[PHIEU_NHAP_HANG] CHECK CONSTRAINT [FK__PHIEU_NHA__MANCC__49C3F6B7]
GO
ALTER TABLE [dbo].[PHIEU_NHAP_HANG]  WITH CHECK ADD  CONSTRAINT [FK__PHIEU_NHA__MANVL__4AB81AF0] FOREIGN KEY([MANVLAP])
REFERENCES [dbo].[NHAN_VIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEU_NHAP_HANG] CHECK CONSTRAINT [FK__PHIEU_NHA__MANVL__4AB81AF0]
GO
ALTER TABLE [dbo].[PHIEU_NHAP_HANG]  WITH CHECK ADD  CONSTRAINT [FK_DDH] FOREIGN KEY([MADDH])
REFERENCES [dbo].[DON_DAT_HANG] ([MADDH])
GO
ALTER TABLE [dbo].[PHIEU_NHAP_HANG] CHECK CONSTRAINT [FK_DDH]
GO
ALTER TABLE [dbo].[TAI_KHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAI_KHOAN_NHAN_VIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHAN_VIEN] ([MANV])
GO
ALTER TABLE [dbo].[TAI_KHOAN] CHECK CONSTRAINT [FK_TAI_KHOAN_NHAN_VIEN]
GO
ALTER TABLE [dbo].[THUC_UONG]  WITH CHECK ADD  CONSTRAINT [FK__THUC_UONG__MALOA__534D60F1] FOREIGN KEY([MALOAITU])
REFERENCES [dbo].[LOAI_THUC_UONG] ([MALOAITU])
GO
ALTER TABLE [dbo].[THUC_UONG] CHECK CONSTRAINT [FK__THUC_UONG__MALOA__534D60F1]
GO
